<!DOCTYPE html>

<html ng-app="MoviesApp">

	<head>

		<title>Fresh Apples</title>

		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js"></script>

		<script type="text/javascript" src="../js/moviesApp.js"></script>

		<script type="text/javascript" src="../js/moviesApp.mainController.js"></script>

		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css">

		<link rel="stylesheet" type="text/css" href="../css/home.css">

		<link href='https://fonts.googleapis.com/css?family=Spicy+Rice' rel='stylesheet' type='text/css'>

		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.js"></script>

		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.js"></script>

	</head>

	<body ng-controller="mainController">

		<div class="container-flow header" align="center">
			<a href="/"><img src="../images/logo.png" alt="Fresh Apples Logo" class="adPic1"></a>
			<img src="../images/Drawing.png" alt="Fresh Apples Logo" class="adPic2">			
			<a href="https://www.regmovies.com/crown-club"><img src="../images/regalcc.png" alt="Regal Crown Club Ad" class="adPic3"></a>
		</div>
		<nav class="navbar navbar-default">
 			<div class="container">
 			    <div>
    	  			<ul class="nav navbar-nav">
        				<li><a href="news">Coming Releases</a></li>
        				<li><a href="about">How The Appleometer Works</a></li>
        				<li><a href="http://www.fandango.com">Showtimes Near You</a></li>
        				<li><a href="add">Add A Movie</a></li>
        				<li class="dropdown">
          				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sign In/Register <span class="caret"></span></a>
          					<ul class="dropdown-menu">
            					<li><a href="signIn">Sign In</a></li>
            					<li><a href="register">Register</a></li>
        	    				<li role="separator" class="divider"></li>
								<li><a href="logout">Log Out</a></li>          					
							</ul>
          				</li>
      				</ul>
     			<form ng-submit="searchQuery()" class="navbar-form navbar-right" role="search">
        			<div class="form-group">
          				<input ng-model="search.search" type="text" class="form-control" placeholder="Search">
        			</div>
        			<button type="submit" class="btn btn-primary">Submit</button>
      			</form>
    			</div>
  			</div>
		</nav>
		<div class="container pageContainer">
		<div ng-repeat="searchResult in searchResults" class="movieContainer">
			<br>
			<a href="/movies/{{searchResult._id}}"><img src="{{searchResult.Poster}}" class="moviePoster"></a>
			<h1 class="movieInfo"><a href="/movies/{{searchResult._id}}" class="movieInfoTitle">{{searchResult.Title}}</a></h1><br>
			<br>
			<h4 class="movieInfo"><strong>Year: </strong>{{searchResult.Year}}</h4><br>
			<br>
			<h4 class="movieInfo"><strong>Rated: </strong>{{searchResult.Rated}}</h4><br>
			<br>
			<h4 class="movieInfo"><strong>Plot: </strong>{{searchResult.Plot}}</h4><br>
			<br>
			<h4 class="movieInfo"><strong>Genre: </strong>{{searchResult.Genre}}</h4><br>
			<br>
			<h4 class="movieInfo"><strong>Director: </strong>{{searchResult.Director}}</h4><br>
			<br>
			<h4 class="movieInfo"><strong>Actors: </strong>{{searchResult.Actors}}</h4><br>
			<br>
			<h4 class="movieInfo"><strong>Released: </strong>{{searchResult.Released}}</h4><br>
			<br>
			<h4 class="movieInfo"><strong>Runtime: </strong>{{searchResult.Runtime}}</h4><br>
			<br>
		</div>	
		<br>
		<br>
    	<br> 
		<h1 align="center">{{greeting}}</h1>
		<br>
		<br>
		<div class="container">
			<h2 align="center">Highest Appleometer Rated Films</h2>
			<br>
		</div>
		</div>
		<br>
		<div class="row container-fluid footer">
			<div align="center" class="col-xs-12 col-lg-4">
				<a href="contact" type="button" class="btn btn-primary btn-lg footerLink">Contact Us</a>
			</div>
			<div align="center" class="col-xs-12 col-lg-4">
				<a href="about" type="button" class="btn btn-primary btn-lg footerLink">About Us</a>
			</div>
			<div align="center" class="col-xs-12 col-lg-4">
				<ul>
					<li class="footerSocial"><a href="http://www.facebook.com"><img src="../images/facebook.png"></a></li>
					<li class="footerSocial"><a href="http://www.twitter.com"><img src="../images/twitter.png"></a></li>
					<li class="footerSocial"><a href="http://www.instagram.com"><img src="../images/instagram.png"></a></li>
					<li class="footerSocial"><a href="http://www.youtube.com"><img src="../images/youtube.png"></a></li>
					<li class="footerSocial"><a href="http://www.googleplus.com"><img src="../images/googleplus.png"></a></li>
				</ul>
			</div>
		</div>

	</body>

</html>